@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-gradient: url('/imgs/bg-gradient.svg')
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

a, h1, h2, h3, h4, h5, h6, p, ul, li {
  margin: 0;
  padding: 0;
}

/* ----------------- */
.home {
  display: flex;
  position: relative;
  height: 100vh;
}

.hRight {
  margin-left: 240px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  position: relative;
}