.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.loginLogo {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border-bottom: 1px solid rgb(217, 218, 220);
  margin-bottom: 30px;
}

.loginMethods {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  max-width: 450px;
}

.loginLabel {
  font-size: 14px;
  font-weight: bold;
}

.loginMethod,
.loginCreateAccountBtn {
  border: 1px solid rgba(0,0,0,0.1);
  width: 450px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  color: rgb(248, 248, 248);
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.loginCreateAccountBtn:hover {
  border-color: rgba(0,0,0,0.9);
}

.loginMethodIcon {
  width: 26px;
  color: rgba(255, 255, 255, 0.9);
}

.loginFacebook {
  background-color: rgb(24, 119, 242);
  opacity: 1;
}

.loginApple {
  background-color: rgba(0, 0, 0, 0.9);
  opacity: 1;
}

.loginFacebook:hover,
.loginApple:hover {
  opacity: 0.7;
}

.loginGoogle,
.loginPhone,
.loginCreateAccountBtn {
  background-color: #fff;
  color: #6a6a6a;
  border-color: #878787;
}

.loginGoogle:hover,
.loginPhone:hover,
.loginCreateAccountBtn:hover {
  color: #6a6a6adc;
  border-color: #110202ab;
}

.loginOR {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-top: 8px;
  margin-bottom: 8px;
  width: 100%;
}

.loginOrTxt {
  font-weight: bold;
  font-size: 14px;
}

.loginHr {
  background-color: rgb(217, 218, 220);
  height: 1px;
  /* width: 200px; */
  width: 100%;
}

.loginForm {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 16px;
  border-bottom: 1px solid rgb(217, 218, 220);
  padding-bottom: 24px;
}

.loginFormForgot {
  text-decoration: underline;
}

.loginFormForgot:hover {
  color: #169b45;
}

.loginFormSubmit {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.loginFormRemember {
  display: flex;
  align-items: center;
  gap: 8px;
}

.loginFormCheckbox {
  width: 16px;
  height: 16px;
}

.loginFormRemember span {
  font-size: 14px;
  font-weight: bold;
  color: #444;
}

.loginFormSubmitBtn {
  background-color: #1ed760;
  outline: none;
  border: none;
  padding: 10px 20px;
  font-weight: bold;
  font-size: 16px;
  color: #222;
  cursor: pointer;
  opacity: 1;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}

.loginFormSubmitBtn:hover {
  opacity: 0.7;
}

.loginCreateAccount {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 16px;
  margin-bottom: 30px;
}

.loginCreateAccountTxt {
  padding-bottom: 20px;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0.7px;
}

.loginCreateAccountBtn {
  border: 1px solid #777;
}